<section
    class="jumbotron"
    style="background-image: url('/img/{{ bannerUrl }}');"
>
    <div class="jumbotron__layer">
        <div class="container jumbotron__wrap">
            <h2 class="jumbotron__title">{{ title | safe }}</h2>
        </div>
    </div>
</section>