{% extends "./base.njk" %}

{% block header %}
	{% include "jumbotron.njk" %}
{% endblock %}

{% block content %}
    <main class="main">
		<div class="main__wrap">
			<h1 class="title md:text-center">
				{{ title | safe }}
			</h1>

            {% for article in articles %}
            <article class="article">
                <div class="card border mb-3">
                    <a href="{{ article.url | url }}" class="card__link">
                        <h2 class="card__title">{{ article.data.title | safe }}</h2>
                        <p class="card__description"><em>{{ article.date | formatDate('dd/LL/yyyy') }}</em></p>
                        {% if article.data.bannerUrl %}<img src="/img/{{ article.data.bannerUrl }}" class="card__image" />{% endif %}
                    </a>
                </div>
            </article>
            {% endfor %}

            {% include "pagination.njk" %}
        </div>
    </main>
{% endblock %}