{% extends "./base.njk" %}

{% block header %}
{% endblock %}

{% block content %}
    <section class="section md:h-header-screen min-h-header-screen">
        <div class="container call-to-action">
            <img
                src="img/landing_2.svg"
                alt=""
                class="call-to-action__illustration lg:left-0"
            />
            <div class="call-to-action__content lg:ml-auto">
                <h2 class="title">
                    {{ callToAction.actionTitle | safe }}
                </h2>
                <p class="lead md:hidden xl:block">
                    {{ callToAction.lead | safe }}
                </p>
                <form id="contact" class="form" method="POST" data-netlify="true">
                    <label for="subject" class="label">Assunto:</label>
                    <input type="text" id="subject" class="input" />
                    <label for="message" class="label">Mensagem:</label>
                    <textarea id="message" class="textarea"></textarea>
                    <button type="submit" class="btn w-full">Enviar</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}