{% extends "./base.njk" %}

{% block header %}
{% endblock %}

{% block content %}
    <section class="section md:h-header-screen">
        <div class="container call-to-action">
            <img
                src="img/landing_2.svg"
                alt=""
                class="call-to-action__illustration lg:left-0"
            />
            <div class="call-to-action__content lg:ml-auto">
                <h2 class="title">
                    {{ callToAction.actionTitle | safe }}
                </h2>
                <p class="lead md:hidden xl:block">
                    {{ callToAction.lead | safe }}
                </p>
                <form id="contact" class="form">
                    <label for="subject" class="label">Assunto:</label>
                    <input type="text" id="subject" class="input" />
                    <label for="message" class="label">Mensagem:</label>
                    <textarea id="message" class="textarea"></textarea>
                    <input
                        type="submit"
                        value="Enviar"
                        class="btn w-full"
                    />
                </form>
            </div>
        </div>
    </section>

    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <script>
        const form = document.querySelector("#contact");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            const name = document.querySelector("#contact #name").value;
            const email = document.querySelector("#contact #email").value;
            const message = document.querySelector("#contact #message").value;
            Email.send({
                SecureToken: "",
                To: "email@gmail.com",
                From: "email@gmail.com",
                Subject: "Dicas poliglotas - Contato",
                Body: `
                    Nome: ${name}</br>
                    Email: ${email}</br>
                    Mensagem: ${message}</br>
                `,
            }).then((message) => alert(message));
        });
    </script>
{% endblock %}