{% extends "./base.njk" %}

{% block header %}
	{% include "jumbotron.njk" %}
{% endblock %}

{% block content %}
	<section class="section">
		<div class="container section__wrap md:text-center">
			<h1 class="title">
				{{ title | safe }}
			</h1>
			<div class="card-group">
			{% for language in collections.languages %}
				<div class="card border">
					<a href="{{ language.url | url }}">
						<img
							src="/img/{{ language.data.bannerUrl }}"
							alt="idioma"
							class="card__image"
						/>
						<h2 class="card__title">
							{{ language.data.title | safe }}
						</h2>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}