{% extends "./base.njk" %}

{% block header %}
	{% include "jumbotron.njk" %}
{% endblock %}

{% block content %}
    <main class="main">
		<div class="main__wrap">
			<h1 class="title md:text-center">
				{{ title | safe }}
			</h1>
            <article class="article">
                {{ content | safe }}
            </article>
        </div>
    </main>
{% endblock %}